In [1]:
import pandas as pd 
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
#read data from train.csv 
df = pd.read_csv("train.csv")

In [3]:
df.columns

Index([u'PassengerId', u'Survived', u'Pclass', u'Name', u'Sex', u'Age',
       u'SibSp', u'Parch', u'Ticket', u'Fare', u'Cabin', u'Embarked'],
      dtype='object')

In [90]:
X = pd.DataFrame()
X['sex'] = df['Sex']
X['age'] = df['Age']
X['Pclass'] = df['Pclass']
X['SibSp'] = df['SibSp']
X['Parch'] = df['Parch']
X['Survived'] = df['Survived']

In [91]:
#drop missing values 
X = X.dropna(axis=0)

In [92]:
#make survived the dependent variable by assigning to Y and dropping it from X
y = X['Survived']
X = X.drop(['Survived'], axis=1)

In [93]:
#use one hot encoding to handle the Sex attribute since it is categorical
pd.get_dummies(X.sex)

     female  male
0       0.0   1.0
1       1.0   0.0
2       1.0   0.0
3       1.0   0.0
4       0.0   1.0
6       0.0   1.0
7       0.0   1.0
8       1.0   0.0
9       1.0   0.0
10      1.0   0.0
11      1.0   0.0
12      0.0   1.0
13      0.0   1.0
14      1.0   0.0
15      1.0   0.0
16      0.0   1.0
18      1.0   0.0
20      0.0   1.0
21      0.0   1.0
22      1.0   0.0
23      0.0   1.0
24      1.0   0.0
25      1.0   0.0
27      0.0   1.0
30      0.0   1.0
33      0.0   1.0
34      0.0   1.0
35      0.0   1.0
37      0.0   1.0
38      1.0   0.0
..      ...   ...
856     1.0   0.0
857     0.0   1.0
858     1.0   0.0
860     0.0   1.0
861     0.0   1.0
862     1.0   0.0
864     0.0   1.0
865     1.0   0.0
866     1.0   0.0
867     0.0   1.0
869     0.0   1.0
870     0.0   1.0
871     1.0   0.0
872     0.0   1.0
873     0.0   1.0
874     1.0   0.0
875     1.0   0.0
876     0.0   1.0
877     0.0   1.0
879     1.0   0.0
880     1.0   0.0
881     0.0   1.0
882     1.0   0.0
883     0.0   1.0
884     0.0   1.0
885     1.0   0.0
886     0.0   1.0
887     1.0   0.0
889     0.0   1.0
890     0.0   1.0

[714 rows x 2 columns]

In [94]:
#use the values from the female column so that the values represent the presence of a female or not
X['sex'] = pd.get_dummies(X.sex)['female']

In [95]:
#Scale the attributes to facilitate regression
from sklearn.cross_validation import train_test_split
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X= scaler.fit_transform(X)

In [96]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [97]:
def base_rate_model(X):
    y = np.zeros(X.shape[0])
    return y

In [98]:
#determine the base rate accuracy
y_base_rate = base_rate_model(X_test)
from sklearn.metrics import accuracy_score
print "Base rate accuracy is %2.2f" % accuracy_score(y_test, y_base_rate)

Base rate accuracy is 0.61

In [99]:
#apply logistic regression
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(penalty='l2', C=1)

In [100]:
#fit model 
model.fit(X_train, y_train)

LogisticRegression(C=1, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [101]:
#model comparison
from sklearn.metrics import roc_auc_score
from sklearn.metrics import classification_report

In [102]:
print "---Base Model---"
base_roc_auc_score = roc_auc_score(y_test, base_rate_model(X_test))
print "Base Rate AUC = %2.2f" % base_roc_auc_score
print classification_report(y_test,base_rate_model(X_test) )
#determine the AUC for the Logistic model 
print "\n\n---Logistic Model---"
logit_roc_auc = roc_auc_score(y_test, model.predict(X_test))
print "Logistic AUC = %2.2f" % logit_roc_auc
print classification_report(y_test, model.predict(X_test) )

---Base Model---
Base Rate AUC = 0.50
             precision    recall  f1-score   support

          0       0.61      1.00      0.76        87
          1       0.00      0.00      0.00        56

avg / total       0.37      0.61      0.46       143



---Logistic Model---
Logistic AUC = 0.75
             precision    recall  f1-score   support

          0       0.80      0.82      0.81        87
          1       0.70      0.68      0.69        56

avg / total       0.76      0.76      0.76       143